.detalle h3{
    width: 100%;
    font-size: 1.4em;
    display: flex;
    justify-content: center;
    color: black;
    white-space: wrap;
    margin-top: 20px;
}
.img-detalle img{
    margin-top: 20px;
    width: 400px;
    height: 500px;
}
.img-detalle{
    width: 30%;
    height: 100vh;
    
}
.detalle{
    margin-top:20px;
    margin-left: 100px;
    height:500px;
    background-color: rgb(255, 255, 255);
    color: black;
}
.detalle ul li{
    list-style: none;
}


.boton-cart{
    width: 250px; 
    height: 40px;  
    background-color: rgb(68, 67, 67);
}
.boton-cart:hover{
    background-color: rgb(0, 0, 0);
}
.detalle p{
    font-size: 1em;
    overflow-wrap: break-word;
    white-space: wrap;
    text-align: start;
}
.detalle p span{
    font-weight: 700;
}
.detalle-prod{
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.cantidades{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0px;
    margin-right: 50px;
}
.cantidades p{
    font-size: 1.2em;
    font-weight: 500;
    margin-left: 6px;
    margin-right: 6px;
}

.cantidades button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 40px; 
    background-color: rgb(68, 67, 67);
    color: white;
    border-radius: 5px;
}
.cantidades button:hover {
    background-color: black;
}

.content{
    display: flex;
    margin-left:20px;
}
.dt-pd{
    display: flex;
    justify-content: center;
    color: rgb(255, 254, 254); 
    background-color: black;
    font-size: 1.4em;
    margin-top: 80px;
}