main .container{
    display: flex;
    justify-content: center;
}
.container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
}
main .container h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    height: 40px;
}
.container{
    background-color: rgb(172, 170, 170);
    height: 80vh;
}
form input{
    height: 30px;
    text-align: center;
    margin-bottom: 3px;
}
.main-title{
    color: white;
    background-color: black;
    /* width: 600px; */
    /* margin-bottom: 200px; */
}
.formulario button{
    background-color: black;
    border-radius: 8px;
}
.fin{
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    height: 80vh;
}
.errors{
    color: rgb(255, 0, 0);
    font-size: 0.8em;
    margin: 0;
}
